footer {
  display: flex;
  justify-content: center;
  background-color: var(--light-green);
}

.footer-text {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: var(--white);
}
