header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 80px;
}

header img {
  width: 200px;
  padding-top: 5px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}
