html {
  font-family: "Assistant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  height: 850px;
  flex: 1;
  background: transparent;
}
.banktree {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}
.hero {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.slogan {
  text-align: left;
  color: var(--white);
  font-size: 70px;
  position: absolute;
  top: 120px;
  left: 32px;
  font-family: "Assistant", sans-serif;
}

.little-slogan {
  font-weight: 800;
  color: var(--light-green);
  position: absolute;
  font-family: "Assistant", sans-serif;
  top: 100px;
  left: 34px;
}
.hero-content {
  transition: all 1s ease-out;
  border: rgb(255, 255, 255) 2px solid;
  box-shadow: inset 52px 10px var(--green);
  background: transparent;
  font-weight: 700;
  margin-top: 40px;
  color: var(--black);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: left;
  position: absolute;
  top: 400px;
  left: 30px;
  width: 300px;
  border-radius: 10px;
}

.hero-content:hover {
  box-shadow: inset 350px 10px var(--green);
  background-color: var(--white);
  color: var(--black);
}
.arrow {
  width: 20px;
  margin-left: 20px;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  font-size: 1.5rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-size: 1.2rem;
}

/**/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px 20px;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  margin: 0 auto;
  margin-top:450px ;
}


.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2c3e50;
  margin: 10px 0;
}

.text {
  font-size: 1.2rem;
  color: #34495e;
  margin-top: 20px;
}




.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.features-title {
    display: flex;
    color: var(--black);
    flex-direction: row;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
    font-family: "Assistant", sans-serif;
}

.feature-icon {
  width: 100px;
  border: 10px solid var(--green);
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2.5rem;
}

.sign-in-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: var(--light-green);
  background-color: var(--light-green);
  color: var(--white);
}

.sign-in-content {
  box-sizing: border-box;
  background-color: var(--white);
  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.edit-button {
  border-color: var(--light-green);
  background-color: var(--light-green);
  color: var(--white);
  font-weight: bold;
  padding: 10px;
}

@media (max-width: 768px) {
  .banktree {
    height: 800px;
  }
  .features {
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
