html {
  font-family: "Assistant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {

  display: flex;
  height: 800px;
  flex: 1;

}
.banktree {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
  clip-path: polygon(
    8% 12%, 28% 4%, 48% 10%, 70% 3%,
    92% 15%, 96% 40%, 88% 62%, 96% 82%,
    78% 94%, 52% 88%, 30% 96%, 12% 86%,
    6% 64%, 10% 42%
  );
  
}
.hero {
  width: 40%;
  height: 40%;
  display: flex;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  background: transparent;
}
.slogan {
  text-align: left;
  color: rgb(244, 162, 97);
  text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  
  font-size: 150px;
  position: absolute;
  left: 10px;
  font-family:'Times New Roman', Times, serif;
}

.little-slogan {
  font-weight: 800;
  color: white;
  text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  top: 200px;
  left: 34px;
}
.hero-content {
  transition: all 1s ease-out;
  border: rgb(255, 255, 255) 2px solid;
  box-shadow: inset 52px 10px var(--green);
  background: transparent;
  font-weight: 700;
  margin-top: 40px;
  color: var(--black);
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: left;
  position: absolute;
  top: 400px;
  left: 30px;
  width: 300px;
  border-radius: 10px;
}

.hero-content:hover {
  box-shadow: inset 350px 10px var(--green);
  background-color: var(--white);
  color: var(--black);
}
.arrow {
  width: 20px;
  margin-left: 20px;
}

.hero-content .subtitle {
  font-weight: bold;
  font-size: 1rem;
  font-size: 1.5rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-size: 1.5rem;
}

/**/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:auto;
  margin: 0 auto;
  margin-top:700px ;
 
  background: linear-gradient(90deg, rgb(42, 157, 143) ,rgb(244, 162, 97));
   -webkit-background-clip: text;   /* applique le fond au texte */
    -webkit-text-fill-color: transparent; /* rend le texte transparent pour voir le fond */
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
  margin: 10px 0;
}

.text {
  font-size: 1.2rem;
  color: #ffffff;
  
}




.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.features-title {
    display: flex;
    color: white;
    flex-direction: row;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
    font-family: "Assistant", sans-serif;
}

.feature-icon {
  width: 100px;
  border: 10px solid var(--green);
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
}

body {
  background: url('../assets/background.png') no-repeat center center/cover;
  background-size: cover; 
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main.bg-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sign-in-content {
  width: 420px;
 
  border: 4px solid rgba(8, 1, 1, 0.2);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  backdrop-filter: blur(2px);
  color: #fff;
  border-radius: 20px;
  padding: 30px 40px;
}

.sign-in-content h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

.input-wrapper {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  margin-bottom: 5px;
  font-weight: 500;
}

.input-wrapper input {
  height: 50px;
  padding: 0 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  
}

.input-remember,
.input-show-password {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-size: 14px;
}

.sign-in-button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgb(244, 162, 97);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: 20px;
}

.sign-in-button:hover {
  background: rgba(38, 70, 83);
  color: white;
  border-color: #fff;
}

.erreur-msg {
  color: #ff4d4d;
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}


@media (max-width: 768px) {
  .banktree {
    height: 800px;
  }
  .features {
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
