html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1;
  background: transparent;
}
/* .banktree {
  object-fit:cover;
  width: 100%;
  overflow: hidden;
   
} */
.hero {
  background-image: url('../img/bank-tree.webp');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
}
.slogan {
  text-align: left;
  color: var(--white);
  font-size: 70px;
  position: absolute;
  top: 120px;
  left: 32px;
  font-family: "Assistant", sans-serif;
}

.little-slogan {
  font-weight: 800;
  color: var(--light-green);
  position: absolute;
  font-family: "Assistant", sans-serif;
  top: 100px;
  left: 34px;
}
.hero-content {
  position: relative;
  top: 2rem;
  width: 200px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 0 auto;
  line-height: 25px;
}


.arrow {
  width: 20px;
  margin-left: 20px;
}

.hero-content .subtitle {
  font-weight: bold;

  font-size: 1.5rem;
  margin: 0;
}

.hero-content .text {
  margin-bottom: 0;
  
  font-size: 1.2rem;
}

/**/


.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.features-title {
    display: flex;
    color: var(--black);
    flex-direction: row;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 800;
    font-family: "Assistant", sans-serif;
}

.feature-icon {
  width: 100px;
  border: 10px solid #00bc77;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {

  flex: 1;
  padding: 2.1rem;
}

.feature-item-title {
    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.feature-item p{
  line-height: 1.1;
}

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}

.bg-dark {
    background-color: #12002b;
    min-height: 86vh;
}


.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    height:fit-content ;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}

.sign-in-icon {
  font-size: 5rem;
}

.input-remember {
  display: flex;
}

.input-remember label {
  margin-left: 0.25rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.input-wrapper label {
  font-weight: bold;
}

.input-wrapper input {
  padding: 5px;
  font-size: 1.2rem;
}

.edit-button {
  border-color: lightgreen;
  background-color: lightgreen;
  color: white;
  font-weight: bold;
  padding: 10px;
}

@media (min-width: 920px) {

    .hero {
        height: 400px;
        background-position: 0% 33%;
    }

    .hero-content {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
    }
}

@media (max-width: 768px) {
  .banktree {
    height: 800px;
  }
  .features {
    flex-direction: column;
  }
  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
