.navigation {
  display: flex;
}

.main-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--light-green);
  color: rgb(255, 255, 255);
  text-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  margin-right: 0.5rem;
  padding: 7px;
  font-weight: 700;
  border-radius: 10px;
  text-decoration: none;
}

.main-nav-item:hover {
  background-color: var(--green);
  color:  rgba(38, 70, 83); 
  text-decoration: none;
}
.main-nav-item img {
  display: flex;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
