.navigation {
  display: flex;
}

.fa-user-circle:before{
    content: "\f2bd";
}


.main-nav-item {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav-item:hover {
  background-color: var(--green);
  color: rgb(255, 255, 255);
  text-decoration: none;
}
