.profile {
    background-color: #12002b;
    min-height: 86vh;
}

.edit-button {
  border-color: #00bc77;
  background-color:#00bc77 ;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}

.user {
  font-size: 18px;
  color: #fff;
  margin-bottom: 2rem;
}

.edit-button:hover {
  border-color: #00bc77;
  background-color: #00bc77;
}
